.hero-aboutus {
    background-size: 80vh;
    background-color: grey;

}

.separar_us {
    margin-top: -10vh;
}

.aside_about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(23, 23, 23, 0.77);
    color: white;
}

.footer_about {
    text-align: center;
    background-color: grey;
}
