/*Index*/

.body-1{
    padding: 0px;
    margin: 0px;
}

.hero-index {
    background: url(../assetss/img/burger1.jpg);
    position: relative;
    background-size: cover;

    background-position-y: top 80%;
    height: 100vh;
 

}

.hero_text-index {
    color: black;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   bottom: 55%;
    right: 75%;
    transform: translate(-10%, -10%);
}

.hero_text-index1 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 50%;
    right: 73%;
    transform: translate(-10%, -10%);
    }


@media (max-width:600px) {

    .hero-index {
      
        background: url(../assetss/img/burger1.jpg);

        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 39%;


        width: 100%;
        height: 100%;

    }

    .hero_text-index {
        position: absolute;
        bottom: 84%;
        right: 15%;
        transform: translate(-10%, -10%);
    }

    .hero_text-index1 {
        position: absolute;
        bottom: 80%;
        right: 13%;
        transform: translate(-10%, -10%);
    }

}