
//menu

//main menu

.body_menu{
    margin: 0px;
    padding: 0px;
    background-color: $coloruno;
}

.hero-menu{
    padding-top: 0px;
}
.burger_menu {

    display: grid;
    background-color: black;
    color: white;
  
  
}

.menu_potatos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}

.drinks_menu {
   background-color: black;
    color: white;
}

.menu-menu {
    background-color: rgba(255, 179, 0, 0.923);
    padding: 10px;
    text-align: center;
    padding-top: 1px;
}



.slider_burger {
    display: flex;
    overflow-x: scroll;
}


.slider_Drink {
    display: inline-block;
    overflow-x: scroll;
}

.service {
   background-color: black;
    color: white;
}

.slider_service {
    display: inline-block;
    overflow-x: scroll;
}

.slider_comple {
    display: flex;
    overflow-x: scroll;
}