/*reservation*/

.hero-reservation {
    background-color: $coloruno;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    background: url(../assetss/img/restaurant_reser.jpg);
    position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.h1_reser {
    color: rgb(255, 242, 0);
    text-align: center;
    font-size: 3rem;
}


@media (max-width:770px) {
    .h1_reser {
        font-size: medium
    }
}



.sec_reser {
    margin-top: 5rem;
    margin-left: 7rem;
}


.slider_reser {
    
    margin-left: 50px;
    color: rgb(12, 0, 0);
    background-color: rgba(128, 128, 128, 0.538);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.reser_make {
    padding: 0rem 0rem 2rem 0rem;
    font-size: 2rem;

}



.p_mail {
    color: yellow;
}

.__reser {

    color: rgb(12, 0, 0);
    background-color: rgba(128, 128, 128, 0.538);
    font-family: Arial, Helvetica, sans-serif;
}

.direc_link :hover {
    background-color: yellow;
}



@media (max-width:770px) {


    
    .main_reser {
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;

    }
    .slider_reser {
    
        margin-left: 0px;
        color: rgb(12, 0, 0);
        background-color: rgba(128, 128, 128, 0.538);
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
    .sec_reser {
        
        margin: 0%
    }

}