

//contact

.form_contact3 {
    position: relative;
    background-color: rgba(128, 128, 128, 0.777);
    text-align: center;
    background-image: url(../assetss/img/burger2.jpg);
    grid-area: form;
}

.form_contact3 h2 {
    padding: 1rem;

}




//reservation 
.hero-reservation {


.form_reser {

    text-align: center;
}
}