/*header contact*/
.header_contact {
    background-color: $coloruno ;
    margin-bottom: 0px;
    width: 100%;
    position: relative;

    height: 67px;



    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    z-index: 9;

    @media only screen and (max-width: 400px) {
        display: inline-block;

        height: 21px;
        padding-bottom: 25%;


        .header_nav3 {
            display: inline-block;
            position: relative;




        }

    }

}

.logo_contact3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 110px;
    padding-top: 0px;
    padding-bottom: 0px;

    @media only screen and (max-width: 400px) {


        position: relative;
        justify-content: flex-start;
        padding-left: 67PX;
    }







    img {
        padding: 5px;
        width: 55px;
    }

}

.header_title3 {
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.header_nav3 {

    .check {
        display: none;

    }

    .checkbtn {
        display: none;
    }

    .toggle-menu {
        display: none;
    }

    .nav_ul {

        list-style: none;
        display: flex;
        padding-right: 125px;
        padding-top: 0px;
        margin-left: 0px;

        @media only screen and (max-width: 400px) {
            display: flex;

            list-style: none;
            padding-right: 0px;
            padding-left: 25px;
            padding-bottom: 0px;
            box-sizing: border-box;
            ;


        }


    }

    li {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 7px;


    }

    a {
        text-decoration: none;
        color: rgba(67, 66, 66, 0.952);
    }




}