
//hero section contact

.hero-contactform{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



//menu

//main menu

.burger_menu{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.drinks_menu {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu-menu {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.service {
    font-family: Georgia, 'Times New Roman', Times, serif;
}